body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-image: linear-gradient(orange, tomato);
  }
  .navbar li {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
  }
  .navbar li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
  }
  .yellow-font {
    color: yellow;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 50px;
  }
  .flexible-container {
    display: flex;
    margin-bottom: 150px;
  }
  .half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .half-width img {
    width: 100%;
  }
  .link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: 700;
  }
  #about-me-section {
    height: 500px;
    background-image: url(images/about-me-cover.jpg);
    background-repeat: no-repeat;
  }
  #about-me-section img {
    height: 100%;
    object-fit: contain;
  }